version: "3"

services:
  grobid:
    image: lfoppiano/grobid:0.5.6
    restart: on-failure
    ports:
      - "8070:8070"
      - "8071:8071"
    expose:
      - "8070"
  postgres:
    image: postgres:12
    restart: always
    environment:
      - POSTGRES_USER=jelly
    ports:
      - "5432:5432"
    expose:
      - "5432"
  redis:
    image: redis:5.0.7
    restart: always
    ports:
      - "6379:6379"
    expose:
      - "6379"
  figures:
    image: dluan/figures:0.0.5
    ports:
      - "4567:4567"
    expose:
      - "4567"
