// This wraps alerts injectd by middleware like Devise
// TODO: pick accessible color contrasts
// TODO: Bootstrap has some builtins for this, plus whatever is in variables.scss
.flash {
  border: 1px solid;
  border-radius: $borderRadius-base;
  padding: 1em;

  &#alert {
    color: $error;
    background-color: transparentize($error, 0.9);
  }
  &#notice {
    color: $success;
    background-color: transparentize($success,  0.9);
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


.footer {
  position: absolute;
  left: 0;
  // bottom: -150px;
  height: 100px;
  width: 100%;

  background: #F5F5F5;
  text-align: center;

  img {
    height: 43px;
    top: -20px;
    margin: 0 auto;
    position: relative;
  }
}
