// overrides for bootstrap pagination

.page-item {
  &.active {
    .page-link {
      background: $brandGreen;
      border-color: $brandGreen;
    }
  }
}

.page-link {
  font-size: 12px;
  color: $brandGreen;
  background-color: $white;
  border-color: $grayLighter;
  &:hover {
    background: $grayLighterer;
    border-color: $grayLighter;
    color: $shale;
  }
}
