html, body, h1, h2, h3, h4, h5, h6
ul, ol, li, blockquote, label, form,
input, span, a {
  // font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: $shaleDark;
}

a {
  color: $brandGreen;
}

a:hover {
  color: $linkHover;
  text-decoration: none;
}

p, li {
  line-height: 22px;
  font-size: $baseFontSize;
}

.serif {
	font-family: $serifFontFamily;
}

.sub {
	color: $grayLight;
}

ul,
ol {
  padding-left: 20px;
}

ul li,
ol li {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 700;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1 { font-size: 32px; line-height: 40px; }
h2 { font-size: 24px; line-height: 28px; }
h3 { font-size: 20px; line-height: 23px; }
h4 { font-size: 16px; line-height: 19px; }

pre {
  border-radius: 3px;
  background-color: #eee;
  padding: 5px 10px;
  font-size: 11px;
}

label {
  display: block;
}

th { padding-bottom: 5px; }
td { padding: 0 5px 7px; }

.muted {
  color: $grayLight;
}

.success {
  color: $brandGreen;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.markup {
	p {
  	font-family: $markupFontFamily;
  	font-size: 13px;
  	color: $shale;
	}
  display: inline-block;
  font-family: $markupFontFamily;
  background: $grayLightest;
  color: $shale;
  font-size: 13px;
  padding: 2px 5px;
  border: 1px solid $grayLighterer;
  border-radius: 4px;
  margin: 0 2px;
}

.list-unstyled {
  @include list-unstyled;
}

.list-inline {
  @include list-unstyled;

  > li {
    display: inline-block;
    padding-right: 10px;
  }
}

code {
  color: $shaleDark;
  overflow: auto;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

