<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="devise__registrationPrompt">
    Don’t have an account yet? <%= link_to "Register a new one", new_registration_path(resource_name) %>
  </p>
<% end %>
