@include media-breakpoint-down(lg) {
  .center-column {
    width: 640px;
    min-width: 640px;
    margin: 0;
    padding: 0;
  }
}

@include media-breakpoint-down(md) {
  .center-column {
    width: 70vw;
    min-width: 70vw;
    margin: 0 auto;
  }
}

@include media-breakpoint-down(xs) {
  .center-column {
    width: 90vw;
    min-width: 90vw;
  }
}

.ProseMirror {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #fff;
}

.ProseMirror h2, h3, h4 {
  padding-bottom: 1em;
}

.ProseMirror > p {
  padding-bottom: 1em;
}

.ProseMirror p.empty-node {
  padding-bottom: 0;
}

.ProseMirror img {
  cursor: default;
}

.ProseMirror pre {
  margin-left: 1em;
  border-radius: 0px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 2em;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 1em;
  margin-right: 0;
  margin-bottom: 1em;
}


.ProseMirror th,
.ProseMirror td {
  border: 1px solid #eee;
  padding: 2px 5px;
}

.ProseMirror sup,
.ProseMirror sub {
  line-height: 0;
}



.selection-marker {
  font-family: inherit;
  font-size: inherit;
}

// do not edit css below
// prosemirror-view/blob/style/prosemirror
// https://github.com/ProseMirror/prosemirror-view/blob/master/style/prosemirror.css

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
  margin-bottom: 1em;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

