.masthead {
  padding: 40px 40px;

  .header {
    .title {
      h1 {
        p {
          font-size: 32px;
          line-height: 40px;
        }
        text-align: center;
      }
      .commentList {
        text-align: left;
      }
      .j-commentText {
        line-height: 22px;
        font-size: 14px;
      }
    }
  }

  .authors {
    font-size: 16px;
    a, a:hover {
      color: #bbb;
    }
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $grayLight;
  }

  .upload {
    text-align: center;
    margin: 14px auto;
    color: #a0aba5;
    // background: #e8efed;
    background: $white;
    position: relative;
    width: 60px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 10px;
    line-height: 17px;

    &:hover {
      color: #56635c;
      transition-duration: 0.2s;
    }
  }
}
