.masthead {
  margin: 40px auto;
  @include media-breakpoint-down(xs) {
    width: 95vw;
  }

  .header {
    .title {
      h1 {
        p {
          font-size: 32px;
          line-height: 40px;
        }
        @include media-breakpoint-up(sm) {
          text-align: center;
        }
      }
      .commentList {
        text-align: left;
      }
      .j-commentText {
        line-height: 22px;
        font-size: 14px;
      }
      h1.title-placeholder {
        color: $grayLight;
      }
    }
  }

  .authors {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
    font-size: 16px;
    a, a:hover {
      color: $grayLighter;
    }
    display: block;
    margin: 0 auto;
    color: $grayLight;
  }

  .upload {
    text-align: center;
    margin: 14px auto;
    color: $grayLight;
    background: $white;
    position: relative;
    width: 60px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 10px;
    line-height: 17px;
    a {
      color: $grayLight;
    }

    &:hover {
      background-color: $grayLighterer;
      transition-duration: 0.2s;
    }
  }
}
