.post-editor {
  counter-reset: math-block;
}

.math-block .katex-render::after {
  counter-increment: math-block;
  content: "( " counter(math-block) " )";
  padding-left: 100px;
  position: absolute;
  right: 1rem;
}

.math-block {
  text-align: center;
}

.math {
  display: inline-block;
  width: auto;
  white-space: normal;
  position: relative;
  font-family: monospace;
}

.math > * {
  display: inline;
}

.math .ProseMirror {
  display: inline;
  font-size: inherit;
  padding: 0em;
}

.math .katex-editor,
.math .katex-render {
  padding: 0em;
}

// .Math .katex-editor:before,
// .Math .katex-editor:after {
//   content: "$";
//   color: #E1E1E0;
//   font-style: monospace;
// }

.katex {
  font: normal 1.1em KaTeX_Math !important;
}