.Prosemirror {
  counter-reset: math;
}

.Math {
  display: inline-block;
  width: auto;
  white-space: normal;
  position: relative;
  font-family: monospace;
}

.Math > * {
  display: inline;
}

.Math .ProseMirror {
  display: inline;
  font-size: inherit;
  padding: 0em;
}

.Math .katex-editor,
.Math .katex-render {
  padding: 0em;
}

// .Math .katex-editor:before,
// .Math .katex-editor:after {
//   content: "$";
//   color: #E1E1E0;
//   font-style: monospace;
// }

.katex {
  font: normal 1.1em KaTeX_Math !important;
}