.modal {
  position: fixed;
  background: $white;
  width: 400px;
  display: block;

}

.bar {
	margin-bottom: 5px;
	display: flex;
	align-items: baseline;
	background: #fff;
	flex-wrap: wrap;
	max-width: 50ch;
}

.group {
	margin-right: 5px;
}

.button {
	background: #fff;
	border: none;
	font-size: 80%;
	cursor: pointer;
	color: #777;
	border-radius: 0;
	padding: 5px 10px;
}

.button:hover {
	color: #000;
	background: #f6f6f6;
}

.button.active {
	color: #000;
}

.button:disabled {
	color: #ccc;
}
