
@include media-breakpoint-down(xl) {
  #sidebarContainer {
    display: block;
  }
}

@include media-breakpoint-down(lg) {
  #sidebarContainer {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  #sidebarContainer {
    display: none;
  }
  #sidebar {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  #sidebarContainer {
    display: none;
  }
}

#sidebarContainer {
  @include desktop-styles {
    display: block;
  }
  display: none;

  #sidebarToggle {
    color: $shaleLight;
    transition: all 0.1s linear;

    &.rotate {
      -moz-transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      transform:rotate(-90deg);
    }
  }

  #sidebarEditor {
    .ProseMirror {
      padding-left: 1px;
      padding-right: 1px;
      counter-reset: math-block;
      user-select: none;
      padding-top: 2px;
    }

    .ProseMirror h2, h3, h4 {
      font-size: 4px;
      line-height: 3px;
      letter-spacing: -0.1em;
      padding-bottom: 1em;
    }

    .ProseMirror p, strong, li, a {
      font-size: 2px;
      line-height: 3px;
      letter-spacing: .05 em;
    }

    .ProseMirror a {
      pointer-events: none;
    }

    .ProseMirror img {
      max-height: 30px;
      text-align: center;
      margin: auto;
    }

    .ProseMirror pre {
      font-size: 2px;
      padding: .5em 1em;
    }

    .ProseMirror ul {
      font-size: 2px;
      padding-left: 4em;
      margin-bottom: 1em;
    }
    
    .ProseMirror ol {
      font-size: 2px;
      padding-left: 2em;
      margin-bottom: 1em;
    }
    
    .ProseMirror li {
      margin: 1em 0;
      margin-left: 1em;
    }

    .ProseMirror blockquote {
      font-size: 2px;
      padding-left: 1em;
      border-left: 1px solid #eee;
    }

    .ProseMirror .math-block {
      font-size: 2px;
    }

    .ProseMirror span.underline {
      text-decoration: none;
    }

    .ProseMirror span.strikethrough {
      text-decoration-line: none;
    }
    
    .ProseMirror-selectednode {
      outline: none;
    }
  }
}

