@include media-breakpoint-down(md) {
  #sidebar {
    display: none;
  }
}

#sidebarContainer {
  @include desktop-styles {
    display: block;
  }
  display: none;

  a {
    pointer-events: none;
  }

  #sidebarToggle {
    color: $shaleLight;
    transition: all 0.1s linear;

    &.rotate {
      -moz-transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      transform:rotate(-90deg);
    }
  }

  .ProseMirror {
    padding-left: 1px;
    counter-reset: math-block;
    user-select: none;
    h1 {
      font-size: 3px;
      line-height: 4px;
    }
    h2, h3, h4 {
      font-size: 3px;
      line-height: 4px;
    }
    p, strong, li, a {
      font-size: 2px;
      line-height: 3px;
    }
    img {
      max-height: 30px;
      text-align: center;
      margin: auto;
    }
    pre {
      padding-left: 1px;
      margin: 0;
      border-radius: 1px;
      line-height: 0;
    }
    code {
      font-size: 2px;
      line-height: 0;
    }
    .math-block {
      font-size: 2px;
    }
    .math-block .katex-render::after {
      counter-increment: math-block;
      content: counter(math-block)
    }
  }
  
  .ProseMirror-selectednode {
    outline: none;
  }
}

@include media-breakpoint-down(xl) {
  #sidebarContainer {
    display: block;
  }
}
@include media-breakpoint-down(lg) {
  #sidebarContainer {
    display: block;
  }
}
@include media-breakpoint-down(md) {
  #sidebarContainer {
    display: none;
  }
}
@include media-breakpoint-down(sm) {
  #sidebarContainer {
    display: none;
  }
}
