p id="notice" = notice
= link_to 'Back', posts_path

p Title: #{@post.title}
/ p Body: #{@post.body}

#editor
= react_component 'PostEditor', post: PostSerializer.new(@post).serializable_hash

= link_to "Home", root_path