// Mixins

@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
				 (-o-min-device-pixel-ratio: 2.6/2),
				 (-webkit-min-device-pixel-ratio: 1.3),
				 (min-device-pixel-ratio: 1.3),
				 (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: url($image);
		background-size: $width $height;
	}
}

@mixin desktop-styles {
	@media (min-width : $desktop-min-width) {
		@content;
	}
}

@mixin box-sizing($box-model: border-box) {
	-webkit-box-sizing: $box-model;
		 -moz-box-sizing: $box-model;
					box-sizing: $box-model;
}

@mixin no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}

@mixin media-object {
	@include clearfix;
	.media-img {
		float: left;
		display: block;
		margin-right: 1rem;
	}
	.media-body {
		overflow: hidden;
		zoom:1;
		text-align: left;
	}
}

@mixin text-antialiased {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin text-autoaliased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

@mixin font-size-mobilized($size, $multiplier) {
	@include desktop-styles {
		font-size: $size;
	}
	font-size: ($size * $multiplier);
}

@mixin text-uppercase {
	text-transform: uppercase;
	letter-spacing: .1em;
}

@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

@mixin circle($width, $color: false) {
	width: $width;
	height: $width;
	border-radius: $width/2;

	@if $color {
		background-color: $color;
	}
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}


// Border Radius
@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius-directional($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px ) {
	-webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	-moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}


// MIXINS
// Sass mixins and placeholder classes.
// ------------------------------------

// Webkit-style focus
// ------------------
@mixin tab-focus() {
// Default
outline: thin dotted;
// Webkit
outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block() {
	display: block;
	margin: 0 auto;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// IE7 inline-block
// ----------------
@mixin ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
@mixin ie7-restore-left-whitespace() {
	*margin-left: .3em;

	&:first-child {
		*margin-left: 0;
	}
}

@mixin ie7-restore-right-whitespace() {
	*margin-right: .3em;

	&:last-child {
		*margin-left: 0;
	}
}

// Placeholder text
// -------------------------
@mixin placeholder($color: $placeholderText) {

	:-moz-placeholder {
		color: $color;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color;
	}
	::-webkit-input-placeholder {
		color: $color;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color;
	}
}


// CSS3
// ----

// Border Radius
@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

%border-radius {
	@include border-radius();
}

@mixin border-radius-directional($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px ) {
	-webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	-moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

// Transitions
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
	background-color: mix($startColor, $endColor, 60%);
	background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
	background-image: -ms-linear-gradient(top, $startColor, $endColor); // IE10
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
	background-image: linear-gradient(top, $startColor, $endColor); // The standard
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0); // IE9 and down
}

@mixin gradient-vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
	background-color: mix($midColor, $endColor, 80%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
	background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
	background-image: -moz-linear-gradient(top, $startColor, $midColor $colorStop, $endColor);
	background-image: -ms-linear-gradient($startColor, $midColor $colorStop, $endColor);
	background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
	background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-radial($startColor: #555, $endColor: #333) {
	background: $startColor; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  $startColor 0%, $endColor 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$startColor), color-stop(100%,$endColor)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  $startColor 0%, $endColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  $startColor 0%, $endColor 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  $startColor 0%, $endColor 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  $startColor 0%, $endColor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// Drop shadows
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25), $inset: false) {
	@if $inset == true { $shadow: $shadow inset; }
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

// Transformations
@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

// Opacity
@mixin opacity($opacity: 100) {
	opacity: $opacity / 100;
	filter: alpha(opacity=$opacity);
}

// Gradient Bar Colors for buttons and alerts
@mixin gradientBar($primaryColor, $secondaryColor) {
	@include gradient-vertical($primaryColor, $secondaryColor);
	border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

// Reset filters for IE
@mixin reset-filter() {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

// Mixin for generating button backgrounds
// ---------------------------------------
@mixin buttonBackground($startColor, $endColor) {
// gradientBar will set the background to a pleasing blend of these, to support IE<=9
@include gradientBar($startColor, $endColor);
	@include reset-filter();

// in these cases the gradient won't cover the background, so we override
&:hover, &:active, &.active, &.disabled, &[disabled] {
		background-color: $endColor;
	}

// IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
&:active, &.active {
	background-color: darken($endColor, 10%) \9;
}
}

// Font mixins
@mixin circle($width, $color: false) {
	width: $width;
	height: $width;
	-webkit-border-radius: $width/2;
		 -moz-border-radius: $width/2;
					border-radius: $width/2;
	@if $color {
		background-color: $color;
	}
}

@mixin circle-border($width, $border) {
	display: block;
	width: $width;
	height: $width;
	border: $border;
	-webkit-border-radius: $width/2;
		 -moz-border-radius: $width/2;
					border-radius: $width/2;
}

@mixin equal-height-cols() {
	float: left;
	padding-bottom: 500px;
	margin-bottom: -500px;
}

%cursor-grab {
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

%cursor-grabbing {
	cursor: move;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

%no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.clearfix,
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin clearfix {
 *zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%media-object {
	@include clearfix;
	.img {
		float: left;
		display: block;
		margin-right: 1rem;
	}
	.body {
		overflow:hidden;
		zoom:1;
		text-align: left;
	}
}

%border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-box {
 -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
