.btn-primary {
	background: $brandGreen;
	border-color: $brandGreen;

	&:hover {
		background: darken($brandGreen, 10);
		border-color: darken($brandGreen, 10);
	}
}

.btn-xs {
	font-size: 12px;
  padding: 2px 7px;
  border-radius: $borderRadius-base;
}

.btn-l {
	font-size: 18px;
	padding: 0.5em 1.5em;
}
