#comment-container {
  z-index: 9;
  position: relative;
}

.comment {
  font-family: inherit;
  background-color: $brandHighlight;
  cursor: pointer;
}

.currentComment {
  background-color: $brandHighlight;
}

.tooltip-wrapper {
  display: inline-block;
  position: absolute;
  z-index: 10;
  overflow: visible;
  vertical-align: bottom;
  margin-top: 15px;
  &.fadeIn {
    animation-duration: 0.15s;
  }
}

@include media-breakpoint-down(xl) {
  .tooltip-wrapper {
    width: 280px;
    right: -280px;
  }
}
@include media-breakpoint-down(lg) {
  .tooltip-wrapper {
    width: 280px;
    right: -26%;
  }
}
@include media-breakpoint-down(md) {
  .tooltip-wrapper {
    width: 280px;
    right: -19%;
  }
}
@include media-breakpoint-down(sm) {
  .tooltip-wrapper {
    width: 280px;
    right: -50px;
  }
}

.commentList,
.commentText {
  display: block;
  padding: 0;
  margin: 0;
}

.j-commentLoginForm {
  margin-top: 20px;

  p.label {
    text-align: center;
    font-size: 12px;
    color: $shale;
    margin: 12px 0 8px 0;
  }
  .button-row {
    text-align: center;
  }
  &.floater {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    width: 375px;
    display: block;
    border: 2px solid $grayLight;
    border-radius: $borderRadius-base;
    background-color: $white;
    transform: translate(0px, 0px);
  }
}

// TODO: Connect to a Floater-style element to track cursor
// instead of pinning to bottom left.
.j-commentForm {
  width: 375px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid $grayLight;
  border-radius: $borderRadius-base;
  background-color: $white;
  transform: translate(0px, 0px);

  &:focus-within {
    border-color: $green;
    border-width: 2px;
  }
}



.j-commentForm__input {
  width: 100%;
  border: none;
  min-height: 150px;
  max-height: 80vh; // it's resizable vertically
  border-bottom: 1px solid $grayLighter;
  border-top-left-radius: $borderRadius-base;
  border-top-right-radius: $borderRadius-base;
  outline: none;
  padding: $spacer * 3;
}

.j-commentForm__actions {}

// inline comment box
.j-commentReplyForm {
  .j-commentForm__input  {
    min-height: 50px;
    padding: 0;
    padding-top: $spacer * 2;
    font-size: $fontsize-md;
  }
  &.fadeIn {
    animation-duration: 0.1s;
  }
}

.commentShow {
  padding-bottom: 14px;
}

/* inline version of comment list */
.ProseMirror ul.commentList {
  // position: absolute;
  // width: 22em;
  // left: -2em;
  // top: calc(100% + 8px);

  position: relative;
  font-size: 16px;
  padding: 0;
  max-height: 60vh;
  font-size: 1rem;
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;

  .j-commentUser {
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 12px;
    display: flow-root;
    width: 100%;
  
    .name-card {
      color: $black;
      display: inline;
      font-weight: 600;
      word-break: break-all;
      img.avatar {
        vertical-align: top;
        border: none;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 8px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}

.ProseMirror ul.commentList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  background-color: $white;
}
.ProseMirror ul.commentList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: $white;
}
.ProseMirror ul.commentList::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 4px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
  background-color: $grayLighter;
}

.commentText {
  position: relative;
  pointer-events: auto;
  margin: 0;
  font-style: normal;
}

.btn.j-commentDelete {
  color: $gray;

  &:hover {
    color: $error;
  }
}

.btn.j-commentReply {
   color: $gray;

  &:hover {
    color: $success;
  }
}
