.dashboard-list {
  text-decoration: none;
}

.posts-index {
  td, th {
    padding: 10px 20px;
  }
  font-size: 12px;
  padding-bottom: 100px;
}

.muted {
  a {
    color: $grayLight;
  }
}

.column-titles {
  font-size: .8rem;
}


#dashboard {
  h1, h2 {
    margin: 20px 0 12px 0;
  }
  .dropzone {
    p {
      padding: 3px 5px;
      margin: 0 0 0 -5px;
    }
  }
}
