@import 'editor/defaults';
@import 'editor/masthead';
@import 'editor/floater';
@import 'editor/menubar';
@import 'editor/sidebar';

a:hover {
  text-decoration: underline;
}

.loading-indicator {
	i {
		margin-right: 3.5px;
		font-size: 6px;
		bottom: 1.5px;
		position: relative;
		color: #a3d9ae;
	}
	font-size: 12px;
	color: #999;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: transparentize($white, 0.3);
	border-radius: $borderRadius-base;
	border: 1px solid $grayDarker;
}

.active {
	i {
		color: grey;
		transition-duration: 0.4s;
	}
}

.image-modal-container {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 200px;
  top: 20vh;
}


.postlinksearch {
  input {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
  }

  ul.postLinkSuggestionsList {
    overflow: hidden;
    left: -2px;
    width: 458px;

    position: absolute;
    background: white;
    padding: 10px 6px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 8px !important;
    // box-shadow: 0 0 4px 0.2rem rgba(115, 200, 94, 0.25);

    li {
      margin: 0;
    }
    li p {
      margin: 0;
      line-height: 12px;
      font-size: 11px;
    }
  }

  .suggestion-row:hover {
    cursor: pointer;
  }
}

.link {
  background-color: rgba(90,173,152,.4);
}
