nav {
  min-height: 60px;
  a {
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }
  a:hover {
    background: none;
    color: green;
    text-decoration: none;
  }

  .fa-menu,
  .navbar-toggler {
    color: black;
    border-color: black;
  }

  padding-top: 15px;
}

.turbolinks-progress-bar {
  visibility: hidden;
}
