nav {
  min-height: 60px;
  a {
    color: $shaleDark;
    font-weight: 700;
    font-size: 16px;
  }
  a:hover {
    background: none;
    text-decoration: none;
  }

  .fa-menu,
  .navbar-toggler {
    color: $shaleDark;
    border-color: $shaleDark;
  }

  .nav-link {
    font-size: 15px;
  }

  .btn {
    color: $shaleDark;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 700;
  }

  padding-top: 15px;
}

.turbolinks-progress-bar {
  visibility: hidden;
}
