header {
  text-align: center;
  padding: 30px 0;

  h1 {
    font-size: 24px;
    padding: 70px 0 20px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .header-link {
    padding: 50px 0;

    .btn-primary {
      color: $white;
      background-color: $brandGreen;
      border-color: transparent;
      padding: 12px 20px;
      &:hover {
        background-color: darken($brandGreen, 12);
        color: $grayLighterer;
      }
    }

    span {
      padding-left: 10px;
      color: $grayLight;
      font-size: 14px;
    }

    p {
      margin-top: 50px;
      font-size: 12px;
      color: $grayLight;
    }
  }
}
