canvas[resize] {
  z-index: 1;
  position: relative;
  width: 30%;
  min-width: 181px;
  height: 39px;
}

.header-remove {
  h1 {
    height: 90px !important;
    mix-blend-mode: normal !important;
    background: white !important;
    top: -5px !important;
  }
}
.header {
  @media (min-width: 600px) {
    width: 100%;
    min-height: 300px;
    margin: 30px 0;
    padding: 32px;
  }
  width: auto;
  padding: 32px;
  margin: 10px;

  display: block;
  z-index: 3;

  background: white;
  border: 5px solid $brandGreen;
  border-radius: 8px;

  h1 {
    position: relative;
    top: -50px;
    font-size: 38px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    mix-blend-mode: lighten;
    opacity: 1;
    user-select: none;
    color: $brandGreen;
    background: white;
  }
  p, a, span {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
  }
  a {
    &.newsletter:hover {
      animation-name: changeBorderColor;
      animation-iteration-count: infinite;
      animation-duration: .8s;
    }
    &:hover {
      color: $black;
      opacity: 1;
      text-decoration: none;
    }
    color: black;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 4px solid $brandGreen;
  }
  .block {
    margin-top: 60px;
  }
  .social-icons{
    @media (min-width: 768px) {
      float: right;
      margin-top: 0;
    }
    margin-top: 40px;
    display: inline-block;
    vertical-align: bottom;
    a {
      border: none;
    }
  }
}


.home {
  width: 100%;

  .posts {
    margin-bottom: 80px;

    .home-post {
      @media (min-width: 768px) {
        width: 700px;
        padding: 1px;
      }
      padding: 12px;

      width: auto;
      text-align: left;
      margin: 60px 0;

      h1 {
        a { color: $black; }
        font-size: 38px;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
      }
      p {
        -webkit-font-smoothing: antialiased;
        font-size: 19.5px;
        line-height: 30px;
        color: black;
        font-weight: 400;
      }
      .date {
        color: $grayLight;
      }
      a {
        color: $brandGreen;
      }
    }
  }
}

.hidden {
  opacity: 0 !important;
  position: absolute !important;
}

.hero-header {
  top: 22vh;
  position: relative;
  text-align: center;
  padding: 30px 0;

  .index-icon {
    animation-duration: 0.34s;
  }

  #jelly:hover {
    animation-name: jello;
  }

  .block {
    padding-bottom: 16px;
    .btn.btn-secondary {
      text-decoration: none;
      border-radius: 0px;
      padding: 16px;
      font-size: 1.25em;
      color: $shaleDark;
      border-color: $shaleDark;
    }
    a,
    .contact-us {
      color: $grayLight;
    }
  }

  img {
    display: inline-block;
  }

  h1 {
    font-size: 24px;
    padding: 70px 0 20px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .header-link {
    margin: 50px 0;

    .btn-primary {
      padding: 12px 20px;
      font-weight: 600;
      font-size: 17px;
    }

    span {
      padding-left: 10px;
      color: $grayLight;
      font-size: 14px;
    }

    p {
      margin-top: 50px;
      font-size: 12px;
      color: $grayLight;
    }
  }
}

#about, #pricing {
  p {
    font-size: 21px;
  }
}

#terms {
  p {
  padding-bottom: 16px;
  }
  h3 {
  padding-bottom: 16px;
  }
}

#dashboard {
  h4 {
    font-family: $baseFontFamily;
    font-weight: bold;
    // font-weight: 500;
    // text-transform: capitalize;
    // font-variant: small-caps;
    // font-family: 'New York';
    // letter-spacing: 0.2px;

  }
  h2 {
    font-family: $baseFontFamily;
    // font-family: 'Times New Roman';
  }

  .new-tag {
    color: $shaleLight;
    font-size: 14px;
  }
  .tag {
    font-weight: 600;
  }
}

#jobs {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}
