.editor {
	padding: 0px;
}

.posts-index-header {
  .btn-primary {
    background-color: green;
    border-color: transparent;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
    a {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $white;
      background-color: green;
      opacity: 0.8;
    }
  }
}

.posts-index {
  td, th {
    padding: 10px 20px;
  }
  font-size: 12px;
  padding-bottom: 100px;
}

.post {
  border: 2px solid $grayLighterer;
  border-radius: 4px;
  padding: 40px;
  margin: 20px 0;

  .preview {
  	color: $shaleDark;
  	font-family: $serifFontFamily;
  	font-size: 14px;
  	line-height: 20px;
  	margin: 30px 0;
  }
  .date {
    font-size: 13px;
    color: $shale;
  }
  .link {
    font-size: 13px;
    color: $brandGreen;
    // margin: 12px 12px 0 12px;
  }
  &:hover {
  	box-shadow: 1px 1px 15px -1px #eee;
  	transition: 0.3s;
  }
}

.pdf-url {
	margin-top: 40px;
  padding: 20px 0;
  color: #bbb;
  font-size: 13px;
  a, a:hover {
    color: #bbb;
  }
}

.post-show {
	width: 640px;
  display: block;
  margin: 0 auto;

  // post editor body styles
  .post-editor {
		font-family: $serifFontFamily;

  	p,
  	a,
		li, {
  		font-size: 15px;
  		line-height: 25px;
		}

  	strong {
  		font-weight: 600;
  	}

  	img {
  		padding: 30px;
	    margin: 0 auto;
	    border: 1px solid #eee;
	    margin-top: 20px;
	    margin-bottom: 0;
	    border-radius: 2px;
	    max-width: 100%;
			max-height: 80vh;
  	}

  	.figure-caption {
  		color: $shaleLight;
  	}
  }

	.authors {
	  padding-top: 20px;
	  font-size: 18px;
	  font-weight: 500;
	}
	.publisher {
	  font-size: 10px;
	}
  .reference {
    margin: 10px 0;
    .list-index {
    	display: inline-block;
    	margin: 0 8px 0 0;
    	vertical-align: top;
    	p {
	    	font-size: 13px;
	    	color: $shale;
    	}
    }
    .citation-info {
    	max-width: 595px;
      display: inline-block;
    	vertical-align: top;
      p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
      }
    }
  }
  .post-placeholder {
    .post-placeholder-message {
      border: 2px solid $grayLighter;
      background: white;
      box-shadow: 0 0 15px 4px $grayLighter;
      border-radius: 6px;
      padding: 20px;
      position: relative;
      width: 85%;
      top: 130px;
      margin: 0 auto;
      z-index: 4;
      img {
        display: inline-block;
        padding-right: 20px;
        vertical-align: top;
        width: 35%;
      }
      p {
        line-height: 21px;
        margin: 10px 0;
      }
      i {
        color: $grayLighter;
      }
      .box {
        width: 65%;
        display: inline-block;
      }
    }
    .title-shape {
      border-radius: 7px;
      background: $grayLightest;
      width: auto;
      height: 52px;
      margin-top: -30px;
      z-index: 2;
    }
    .body-shape {
      border-radius: 7px;
      background: $grayLightest;
      width: auto;
      height: 350px;
      margin-top: 100px;
      z-index: 2;
    }
  }
}

.subtle {
  color: #777;
}

.comment {
  font-family: inherit;
  background-color: $brandHighlight;
  cursor: pointer;
}

.currentComment {
  background-color: $brandHighlight;
}

.commentList,
.commentText {
  display: block;
  padding: 0;
  margin: 0;
}

.j-commentForm {
  width: 400px;
  // TODO: Connect to a Floater-style element to track cursor
  // instead of pinning to bottom left.
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 1px solid $grayLight;
  border-radius: $borderRadius-base;
  background-color: $white;
  transition: 1s;
  transform: translate(0px, 0px);
}

.j-commentForm--inactive {
  transform: translate(-410px, 0px);
}

.j-commentForm__input {
  width: 100%;
  border: none;
  min-height: 100px;
  max-height: 80vh; // it's resizable vertically
  border-bottom: 1px solid $grayLighter;
  border-top-left-radius: $borderRadius-base;
  border-top-right-radius: $borderRadius-base;
}

.j-commentForm__actions {}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
  width: 0;
  overflow: visible;
  vertical-align: bottom;
}

.ProseMirror ul.commentList {
  font-size: 16px;
  width: 15em;
  position: absolute;
  top: calc(100% + 8px);
  left: -2em;
  font-size: 1rem;
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  padding: 0;
}

ul.commentList::before {
  border: 5px solid #888;
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -5px;
  left: calc(2em - 6px);
  content: ' ';
  height: 0;
  width: 0;
}

li.commentText {
  padding: 2px 8px;
  position: relative;
  pointer-events: auto;
  margin: 0;
  font-style: normal;
}

li.commentText + li.commentText {
  border-top: 1px solid silver;
}

.commentDelete {
  position: absolute;
  right: 0;
  border: 0;
  font: inherit;
  display: inline;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.commentDelete:hover {
  color: #f88;
}
