#editor {
	padding: 20px;
}

.posts-index-header {
  .btn-primary {
    background-color: green;
    border-color: transparent;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
    a {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $white;
      background-color: green;
      opacity: 0.8;
    }
  }
}

.posts-index {
  td, th {
    padding: 10px 20px;
  }
  font-size: 12px;
  padding-bottom: 100px;
}

.post {
  border: 2px solid $grayLighterer;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;

  .title {
    color: $black;
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 12px;
  }
  .date {
    font-size: 15px;
    color: $shale;
  }
  .link {
    font-size: 13px;
    margin: 12px 12px 0 12px;
  }
}

.pdf-url {
	margin-top: 40px;
  padding: 20px 0;
  color: #bbb;
  font-size: 13px;
  a, a:hover {
    color: #bbb;
  }
}

.post-show {
	width: 640px;
  display: block;
  margin: 0 auto;

  // post editor body styles
  .post-editor {
  	p,
  	a,
  	li {
  		font-family: $serifFontFamily;
  		font-size: 15px;
  		line-height: 25px;
  	}

  	strong {
  		font-weight: 600;
  	}
  }

	.title {
	  padding: 50px 0;
	  font-size: 27px;
	}
	.authors {
	  padding-top: 20px;
	  font-size: 18px;
	  font-weight: 500;
	}
	.publisher {
	  font-size: 10px;
	}
  .reference {
    margin: 3px 0;
    .list-index {
    	display: inline-block;
    	margin: 0 8px 0 0;
    	vertical-align: top;
    	p {
    	font-size: 14px;
    	color: $black;
    	}
    }
    .citation-info {
    	max-width: 595px;
      display: inline-block;
    	vertical-align: top;
      p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
      }
    }
  }
}
