#editor {
	padding: 20px;
}

.posts-index-header {
  .btn-primary {
    background-color: green;
    border-color: transparent;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
    a {
      color: white;
      text-decoration: none;
    }
    &:hover {
      color: #fff;
      background-color: green;
      opacity: 0.8;
    }
  }
}

.posts-index {
  td, th {
    padding: 10px 20px;
  }
  font-size: 12px;
  padding-bottom: 100px;
}

.post {
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;

  .title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 12px;
  }
  .date {
    font-size: 13px;
    color: #ccc;
  }
}

.pdf-url {
  padding: 20px 0;
  color: #bbb;
  font-size: 13px;
  a, a:hover {
    color: #bbb;
  }
}

.title {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.authors {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.publisher {
  font-size: 10px;
}