.users {
  .user-avatar {
    width: 180px;
    min-width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
  }

  .col-md-avatar {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .custom-file {
    .field_with_errors {
      background: white;
      label.custom-file-label { border-color: $danger !important; }
      label.custom-file-label::after { display: none; }
    }
    label {
      overflow: hidden;
    }
  }

  #avatar-actions .btn-lg {
    width: 180px;
  }

  label.custom-file-label {
    width: 180px;
  }

  .delete-avatar {
    width: 180px;
  }
  // remove bootstrap "browse" button part
  label.custom-file-label::after { display: none; }

  .custom-file-input:lang(en) ~ .custom-file-label::after {
    display: none;
  }

  .name {
    @include desktop-styles {
      text-align: left;
      margin-top: 0px;
    }
    margin-top: 15px;
    text-align: center;

    p {
      font-size: 18px;
      color: $shaleDark;
      margin-bottom: 10px;
    }
    .username {
      margin-left: 10px;
      color: $shaleLight;
    }
  }

  .description {
    margin-top: 12px;
    margin-bottom: 24px;
    p {
      @include desktop-styles {
        font-size: 24px;
        line-height: 37px;
      }
      font-size: 16px;
      line-height: 24px;
      color: $shaleDark;
    }
  }
  .btn-edit {
    background: $grayLighter;
    color: $shale;
    font-weight: 600;
    font-size: 15px;
  }
  .none {
    display: none;
  }
  .nav {
  }
  .nav-item {
    @include desktop-styles {
      margin: 10px 20px -1px 0px;
    }
    a {
      color: $shaleLight;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 600;
    }
    &:hover {
      a { color: $shale; }
    }
  }
  .nav-tabs {
  }
  .nav-link.active {
    color: $shale;
    border: none;
    border-bottom: 2px solid $brandGreen;
    a:hover {
      color: $black;
    }
  }
  .nav-link:hover {
    &.active {
      border: none;
      border-bottom: 2px solid $brandGreen;
    }
    border: 1px solid transparent;
    margin-bottom: -1px;
  }
  .col-md-9 {
    @include desktop-styles {
      text-align: left;
    }
    text-align: center;
  }
}

.clear-modal-container {
  background: white;
  outline: none;
  margin: 0 auto;
  height: auto;
  width: 40vw;
  top: 20%;
  position: relative;
}
.reg-modal-container {
  animation-duration: 0.16s;
  height: auto;
  background: white;
  margin: 0 auto;
  text-align: center;
  border: 2px solid $grayLighter;
  border-radius: 9px;
  padding: 40px;
  outline: none;

  .login-message {
    font-size: 16px;
  }
}

#followbutton {
  width: 110px;
  text-align: center;
  font-weight: 700;
  i, span { color: $white; }
  &.btn-primary:active,
  &.btn-primary:focus {
    box-shadow: none;
  }
}
#followbutton span:after{
  content: 'Follow';
}
#followbutton.following {
  background: $white;
  border: 1px solid $shaleLight;
  span { color: $shale; };
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
#followbutton.following span:after{
  content: 'Following';
}
#followbutton.following:hover {
  background-color: $danger;
  border-color: $danger;
  span { color: $white; }
}
#followbutton.following:hover span:after{
  content: 'Unfollow';
}
