// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users {
  .user-avatar {
    img {
      // height: 36px;
      // width: 36px;
      max-height: 240px;
      margin: 20px 0;
      border-radius: 18px;
    }
  }

  .custom-file {
    .field_with_errors {
      background: white;

      label.custom-file-label { border-color: $danger !important; }
      label.custom-file-label::after { display: none; }
    }
  }

  label.custom-file-label {
    width: 200px;
  }

  // remove bootstrap "browse" button part
  label.custom-file-label::after { display: none; }

  .custom-file-input:lang(en) ~ .custom-file-label::after {
    display: none;
  }

  .none {
    display: none;
  }

}
